@charset "utf-8";

$pc1024: 1024px;
$mobile767: 767px;
$mobile480: 480px;

//respond mixin
@mixin respond($size) {
    @media screen and (max-width:$size) {
        @content;
    }
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit; 
    text-decoration: inherit;
}

li {
    list-style: none;
}

address, em, i {
    font-style: normal;
}

button {
    background: none; 
    border: none;
}

img {
    vertical-align: middle;
}

* {
    list-style: none;
    text-decoration: none;

    word-break: keep-all;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Inter', 'Pretendard', sans-serif;
}

body {
    background: #141212;
    color: #fff;
}

a {
    color: inherit;
}

.wrap {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

header {
    position: fixed;
    .inner {
        padding: 30px 50px 0;
        .logo {
            span {
                font-size: 20px;
                letter-spacing: -1px;
            }
        }
    }
}

.main {
    margin-bottom: 0;
    .inner {
        position: relative;
        height: 100vh;
        padding: 25px 50px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &Text {
        text-align: center;
        font-size: 7vw;
        letter-spacing: -1px;
        line-height: 0.9;
        font-weight: normal;
        span {
            display: flex;
            overflow-y: hidden;
            i {
                display: block;
            }
        }
    }
}

.inner {
    padding: 0 50px;
    box-sizing: border-box;
}

.contents {
    .inner {
        padding: 0px 50px;
    }
    .mainTextBox {
        .title {
            text-align: center;
            overflow: hidden;
            font-size: 22px;
        }
    }
    .listBox {
        .box {
            background: #fff;
            color: #141212;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            margin-bottom: 5px;
            a {
                display: grid;
                padding: 50px 80px 50px;
                @include respond($mobile767) {
                    padding: 30px 40px 30px;
                }
            }
            h1 {
                font-size: 60px;
                letter-spacing: -5px;
                @include respond($pc1024) {
                    font-size: 50px;
                }
                @include respond($mobile767) {
                    font-size: 40px;
                    letter-spacing: -3px;
                }
                @include respond($mobile480) {
                    font-size: 30px;
                    letter-spacing: -3px;
                }
            }
            ul {
                margin-top: 20px;
                display: flex;
                font-size: 14px;
                letter-spacing: -0.6px;
                opacity: 0.7;
                @include respond($mobile480) {
                    font-size: 12px;
                }
                li {
                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .imgBox {
        position: absolute;
        transform: scale(0);
        opacity: 0;
        z-index: 100;
        width: 500px;
        img {
            width: 100%;
            border-radius: 10px;
        }
        @include respond($pc1024) {
            width: 300px;
        }
    
    }
}


.rotate.on {
    animation-name: rotate;
    animation-duration: 1.2s;
}

@keyframes rotate {
    0% {
        transform-origin: 0 0;
        transform: translate(0px, 100%) rotate(20deg);
        transition: 1s;
    }
    100% {
        transform-origin: 0 0;
        transform: translate(0px, 0px) rotate(0deg);
        transition: 1s;
    }
}

footer {
    padding: 30px 50px;
    text-align: right;
    font-size: 10px;
}