@charset "utf-8";

$pc1024: 1024px;
$mobile767: 767px;
$mobile480: 480px;

//respond mixin
@mixin respond($size) {
    @media screen and (max-width:$size) {
        @content;
    }
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit; 
    text-decoration: inherit;
}

li {
    list-style: none;
}

address, em, i {
    font-style: normal;
}

button {
    background: none; 
    border: none;
}

img {
    vertical-align: middle;
}

* {
    list-style: none;
    text-decoration: none;

    word-break: keep-all;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: neue-haas-grotesk-text, pretendard, sans-serif;
}

body {
    font-family: neue-haas-grotesk-text, pretendard, sans-serif;
    background-color: #f0f0f0;
}

a {
    color: inherit;
}

header {
    z-index: 9;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        display: inline-block;
        font-size: 32px;
        letter-spacing: -2.5px;
        line-height: 1;
        font-weight: bold;
        span {
            font-size: 12px;
            vertical-align: top;
            margin-left: 2px;
        }
    }
    .email {
        display: inline-block;
        position: relative;
        font-size: 20px;
        letter-spacing: -1.8px;
        font-weight: bold;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1em;
            border-bottom: 2px solid #f5df4e;
            margin-top: 3px;
            opacity: 0;
            transition: opacity 0.35s, transform 0.35s;
            transform: scale(0, 1);
        }
        &:hover::after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    h1 {
        text-align: center;
        font-size: 100px;
        letter-spacing: -5px;
        @include respond($mobile767) {
            font-size: 60px;
        }
        @include respond($mobile480) {
            font-size: 50px;
        }        
        span {
            background: #f5df4e;
            border-radius: 100px;
            padding: 0 40px;
        }
    }
}

.works {
    width: 80%;
    margin: 0 auto;
    padding: 200px 40px 40px;
    @include respond($mobile480) {
        width: 100%;
    } 
    .scTitle {
        text-align: center;
        margin-bottom: 200px;
    }
    ul {
        li {
            width: 60%;
            @include respond($mobile767) {
                width: 100%;
            }
            & + li {
                margin-top: 150px;
            }
            &:nth-child(even) {
                margin-left: auto;
            }
            a {
                display: block;
                img {
                    width: 100%;
                }
                .num {
                    font-size: 20px;
                    line-height: 1;
                    letter-spacing: -1px;
                    font-weight: bold;
                }
                .title {
                    font-size: 48px;
                    letter-spacing: -3px;
                    margin-bottom: 10px;
                }
                .desc {
                    margin-top: 10px;
                    margin-bottom: 60px;
                    font-size: 14px;
                    letter-spacing: -0.6px;
                    opacity: 0.6;
                    font-family: pretendard, sans-serif;
                    span:not(:first-child) {
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 200px;
    padding: 40px;
    p {
        text-align: center;
        font-size: 12px;
        letter-spacing: -0.6px;
    }
}