/* Reset */
* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

address, em, i {
  font-style: normal;
}

button {
  background: none;
  border: none;
}

img {
  vertical-align: middle;
}

* {
  list-style: none;
  text-decoration: none;
  word-break: keep-all;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: neue-haas-grotesk-text, pretendard, sans-serif;
}

body {
  font-family: neue-haas-grotesk-text, pretendard, sans-serif;
  background-color: #f0f0f0;
}

a {
  color: inherit;
}

header {
  z-index: 9;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: inline-block;
  font-size: 32px;
  letter-spacing: -2.5px;
  line-height: 1;
  font-weight: bold;
}
header .logo span {
  font-size: 12px;
  vertical-align: top;
  margin-left: 2px;
}
header .email {
  display: inline-block;
  position: relative;
  font-size: 20px;
  letter-spacing: -1.8px;
  font-weight: bold;
}
header .email::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1em;
  border-bottom: 2px solid #f5df4e;
  margin-top: 3px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
}
header .email:hover::after {
  opacity: 1;
  transform: scale(1);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.intro h1 {
  text-align: center;
  font-size: 100px;
  letter-spacing: -5px;
}
@media screen and (max-width: 767px) {
  .intro h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 480px) {
  .intro h1 {
    font-size: 50px;
  }
}
.intro h1 span {
  background: #f5df4e;
  border-radius: 100px;
  padding: 0 40px;
}

.works {
  width: 80%;
  margin: 0 auto;
  padding: 200px 40px 40px;
}
@media screen and (max-width: 480px) {
  .works {
    width: 100%;
  }
}
.works .scTitle {
  text-align: center;
  margin-bottom: 200px;
}
.works ul li {
  width: 60%;
}
@media screen and (max-width: 767px) {
  .works ul li {
    width: 100%;
  }
}
.works ul li + li {
  margin-top: 150px;
}
.works ul li:nth-child(even) {
  margin-left: auto;
}
.works ul li a {
  display: block;
}
.works ul li a img {
  width: 100%;
}
.works ul li a .num {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: bold;
}
.works ul li a .title {
  font-size: 48px;
  letter-spacing: -3px;
  margin-bottom: 10px;
}
.works ul li a .desc {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 14px;
  letter-spacing: -0.6px;
  opacity: 0.6;
  font-family: pretendard, sans-serif;
}
.works ul li a .desc span:not(:first-child) {
  margin-left: 3px;
}

footer {
  margin-top: 200px;
  padding: 40px;
}
footer p {
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.6px;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */